{% extends "detalle.html" %}
<!--  -->
{% block titulo %} Categoria|{{categoria.nombre}}{% endblock%}
<!--  -->
{% block elemListado %} categorias {%endblock%}
<!--  -->
{% block urlElemento %}

<a href="{% url 'detalle categoria' p.pk %}">
  {% if  p.id == categoria.id %}
  <li style="
  background-color: #123655;
  color: #cce1e8;
  border-color: #123655;
">{{ p.nombre }}</li>
  {% else %}
  <li>{{ p.nombre }}</li>
  {% endif %}
</a>

{% endblock %} {% block detalle %} 
<div class="tituloProducto">
  Datos de la categoria

  <div class="barraBtn">
    <a href="/appProyecto/categoria/{{categoria.id}}/update/" class="button">
      Actualizar</a>
    <a href="/appProyecto/categoria/{{categoria.id}}/delete/" class="button">
      Borrar</a>
  </div>
</div>
<div class="datosProducto">
  <div class="propiedadProducto">
    <div class="tituloPropiedad">Nombre:</div>
    {{ categoria.nombre}}
  </div>
  <div class="propiedadProducto">
    <div class="tituloPropiedad">Descripcion:</div>
    {{ categoria.descripcion}}
  </div>
</div>
{% if productos %}
<div class="tablasList"> <h2>Productos de esta categoria:</h2>
  <table class="blueTable">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr>
          <td>
            <a href="{% url 'detalle producto' producto.pk %}">
              {{ producto.nombre }}
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% else %}
<p>No existen productos en esta categoria.</p>
{% endif %} {% endblock %}