{% extends "base.html" %} {% block titulo %} Lista de Categorias{% endblock %}
{% block contenido %}
<div class="content">
  <h2>Listado de categorias</h2>
  <div class="tablasList">
    <a href="/appProyecto/categoria/create" class="button">Categoria✚</a>
    {% if object_list %}
  <table class="blueTable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for e in object_list %}
        <tr>
          <td>
            <a href="{% url 'detalle categoria' e.id %}">{{ e.nombre}}</a>
          </td>
          <td>
            <a href="/appProyecto/categoria/{{e.id}}/delete/" class="buttonBorrar borrar">
              ✖</a
            >
          </td>
          <td>
            <a href="/appProyecto/categoria/{{e.id}}/update/" class="buttonAccion">
              ✐</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% if page_obj.paginator.num_pages > 1  %}
      <tfoot>
        <tr>
          <td colspan="3">
            <div class="links">
             {% if page_obj.has_previous %}
              <a href="?page=1"> inicio</a>
              <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
              {% endif %}
              {% for i in page_obj.paginator.page_range %}
  
              {% if i != page_obj.number %}
                      <a href="?page={{ i }}">{{ i }}</a>
              {% endif %}
              
             {% endfor %}
              {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">final</a>
        {% endif %}
            </div>
          </td>
        </tr>
      </tfoot>
      {% endif %}
    </table>
    {% else %}
    <p>No hay categorias creadas.</p>
    {% endif %}
  </div>
</div>

{% endblock contenido %}
