{% extends "base.html" %} 
{% block titulo %} Detalle del categoria {% endblock%}
{% block contenido %}
<h2>Datos del categoria</h2>
{% if categoria %}
<ul>
  <li>Nombre: {{ categoria.nombre}}</li>
  <li>Descripcion: {{ categoria.descripcion}}</li>
</ul>

<h2>Productos de esta categoria:</h2>
<table class="paleBlueRows">
  <thead>
    <tr>
      <th>Nombre</th>
    </tr>
  </thead>
  <tbody>
    {% for producto in productos %}
    <tr>
      <td>
        <a href="{% url 'detalle producto' producto.pk %}">
          {{ producto.nombre }}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No existe esta categoria.</p>
{% endif %} {% endblock %}
