{% extends "base.html" %} {% block titulo %}Listado de clientes{% endblock %}
{% block contenido %}
<div class="content">
  <h2>Listado de Clientes</h2>
  <div class="tablasList">
    {% if object_list %}
    <table class="listados">    <a href="{%url 'crear cliente'%}" class="button">Cliente&nbsp;✚</a>

      <thead>
        <tr>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>Telfono</th>
          <th>Correo</th>
        </tr>
      </thead>
      <tbody>
        {% for r in object_list %}
       
          <tr>
          <td><a href="{% url 'detalle cliente' r.id %}">{{ r.nombre}}</a></td>
          <td>{{r.direccion}}</td>
          <td>{{r.telefono}}</td>
          <td>{{r.email}}</td>
        </tr>        
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No hay clientes creados.</p>
    {% endif %}
  </div>
</div>
{% endblock %}