{% extends "detalle.html" %}

{% block titulo %} Cliente | {{ cliente.nombre}}{% endblock%}

{% block elemListado %} cliente {% endblock %}
{% block urlElemento %}

<a href="{% url 'detalle cliente' p.pk %}">
  <li>{{ p.nombre }}</li>
</a>
{% endblock %}

{% block detalle %}
<div class="tituloProducto">
  Datos del cliente
  <div class="barraBtn">
    <a href="/appProyecto/clientes/{{cliente.id}}/delete/" class="button">
      Borrar
    </a>
    <a href="/appProyecto/clientes/{{cliente.id}}/update/" class="button">
      Actualizar
    </a>
  </div>
</div>



<div class="datosProducto">
  <div class="propiedadProducto">
    <div class="tituloPropiedad">Nombre:</div> {{ cliente.nombre}}
  </div>
  <div class="propiedadProducto">
    <div class="tituloPropiedad">CIF: </div> {{ cliente.cif}}
  </div>
  <div class="propiedadProducto columnaFlex">
    <div class="tituloPropiedad">
      Datos de contacto:</div>
    <div class="lista">
      <ul>
        <li>
          Teléfono: {{ cliente.telefono}}
        </li>
        <li>
          Correo: {{ cliente.email}}<a id="correoCliente" class="buttonAccion">✚</a>
        </li>
        <li>
          Dirección: {{ cliente.direccion}}
        </li>
      </ul>
    </div>

  </div>
</div>
<div class="tablasList">
  <h2>Pedidos de este cliente:</h2>

{% if pedidos %}
<table class="blueTable">
  <thead>
    <tr>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    {% for p in pedidos %}
    <tr>
      <td>
        <a href="{% url 'detalle pedido' p.pk %}"> {{ p.fecha }} </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="tituloPropiedad"> NO EXISTE NINGUN PRODUCTO CON ESTE COMPONENTE</div>
{% endif %}
</div>
{% endblock %}
{% block accion %}

{% load static %}
<div class="botonCerrar">
  <img src="{% static 'imagenes/btnCerrar.png' %}" alt="Cerrar">
</div>  

  <h2>Comunicación</h2>
  <form method="post" action="{% url 'enviar email' %}" class="emailCliente">
    {% csrf_token %}
    <div class="fila">
      <label for="idCorreo">Correo</label>
      <input type="email" name="correo" id="idCorreo">
    </div>
    <div class="fila">
      <label for="idAsunto">Asunto</label>
      <input type="text" name="asunto" id="idAsunto">
    </div>
    <div class="columna">
      <label for="idMensaje">Mensaje</label>
      <textarea id="idMensaje" name="mensaje" rows="20"></textarea>
    </div>
    <button type="submit">Enviar</button>
  </form>
  

{% endblock %}