{% extends "detalle.html" %} 

{% block titulo %} Cliente | {{ cliente.nombre}}{% endblock%}

{% block elemListado %} cliente {% endblock %} 
{% block urlElemento %} 

<a href="{% url 'detalle cliente' p.pk %}">
  <li>{{ p.nombre }}</li>
</a> 
{% endblock %} 

{% block detalle %}
<div class="tituloProducto">
  Datos del cliente
  <a href="/appProyecto/clientes/{{cliente.id}}/delete/" class="button">
    Borrar
  </a>
  <a href="/appProyecto/clientes/{{cliente.id}}/update/" class="button">
    Actualizar
  </a>
</div>

{% if cliente %}
<ul>
  <li>Nombre: {{ cliente.nombre}}</li>
  <li>CIF: {{ cliente.cif}}</li>
  <li>
    Datos de contacto:
    <ul>
      <li>Teléfono: {{ cliente.telefono}}</li>
      <li>Correo: {{ cliente.email}}</li>
      <li>Dirección: {{ cliente.direccion}}</li>
    </ul>
  </li>
</ul>

<h2>Pedidos de este cliente:</h2>
<table class="paleBlueRows">
  <thead>
    <tr>
      <th>Fecha</th>
    </tr>
  </thead>
  <tbody>
    {% for p in pedidos %}
    <tr>
      <td>
        <a href="{% url 'detalle pedido' p.pk %}"> {{ p.fecha }} </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No existe este cliente.</p>
{% endif %} 
{% endblock %}
