{% extends "base.html" %} {% block titulo %}Listado de componentes{% endblock %}
{% block contenido %}
<div class="content">
  <h2>Listado de componentes</h2>
  <div class="tablasList">
    {% if object_list %}
    <a href="/appProyecto/componentes/create" class="button">Componente✚</a>
  <table class="blueTable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Marca</th>
          <th colspan="2">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for r in componentes %}
        <tr>
          <td>
            <a href="{% url 'detalle componentes' r.id %}">{{ r.nombre}}</a>
          </td>
          <td>{{ r.marca}}</td>
         <td> <a href="/appProyecto/componentes/{{r.id}}/delete/" class="buttonBorrar borrar">
            ✖
            </a>
          </td> <td>
            <a href="/appProyecto/componentes/{{r.id}}/update/"  class="buttonAccion">
              ✐
            </a>
           
          </td>
          
        </tr>
        {% endfor %}
      </tbody>
      {% if page_obj.paginator.num_pages > 1  %}
      <tfoot>
        <tr>
          <td colspan="4">
            <div class="links">
             {% if page_obj.has_previous %}
              <a href="?page=1"> inicio</a>
              <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
              {% endif %}
              {% for i in page_obj.paginator.page_range %}
              {% if i == page_obj.number %}
              ...
              {% else %}
                      <a href="?page={{ i }}">{{ i }}</a>
              {% endif %}
              
             {% endfor %}
              {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">final</a>
        {% endif %}
            </div>
          </td>
        </tr>
      </tfoot>
      {% endif %}
    </table>
    {% else %}
    <div class="tituloPropiedad"> NO EXISTE NINGUN COMPONENTE</div>
    {% endif %}
  </div>

</div>
{% endblock %}