{% extends "base.html" %} 
{% block titulo %} Detalle del departamento {%endblock %} 
{% block contenido %}
<h2>Datos del componente</h2>
<div class="descripcion">
{% if componente %} 
  <ul>
    <li>Nombre: {{ componente.nombre}}</li>
    <li>Marca: {{ componente.marca}}</li>
  </ul>
  <div class="barraBtn">
    <a href="/appProyecto/componentes/{{componente.id}}/update/" class="button"> Actualizar</a>
    <a href="/appProyecto/componentes/{{componente.id}}/delete/" class="button"> Borrar</a>
  </div>

<h2>Componentes:</h2>
  <table class="listados">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Cantidad</th>
        <th>Productos</th>
      </tr>
    </thead>
    <tbody>
      {% for elemento in elementos %}
        <tr>
          <td>
            <a href="{% url 'detalle componentes' elemento.id_componente.pk %}">
              {{ elemento.id_componente.nombre }}
            </a>
          </td>
          <td>{{ elemento.id_componente.marca }}</td>
          <td>{{ elemento.cantidad }}</td>
          <td>{{ elemento.id_producto}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<p>No existe este componente.</p>
{% endif %} 
</div>
{% endblock %}
