{% extends "base.html" %}

{% block titulo %}Borrar pedido{% endblock %}

{% block contenido %}


<form method="post" action="{% url 'enviar email' %}" class="formularioContacto"> 
 {% csrf_token %} 
 <div>
     <label for="idCorreo">Email de contacto:</label>
     <input type="email" name="correo" id="idCorreo" placeholder="ejemplo@ejemplo.com">
   </div>
   <div>
     <label for="idAsunto">Asunto</label>
     <input type="text" name="asunto" id="idAsunto" placeholder="Tipo de error">
   </div>
   <div>
     <label for="idMensaje">Mensaje</label>
     <textarea id="idMensaje" name="mensaje" rows="3" placeholder="Detalles del problema"></textarea>
   </div>
   <button type="submit">Enviar</button>
 </form>
  

{% endblock %}