{% extends "base.html" %} {% block titulo %}Listado de pedidos{% endblock %}
{%block contenido %}
<div class="content">
  <h2>Listado de pedidos</h2>
  <div class="tablasList">
    <a href="{%url 'crear pedido'%}" class="button">Pedido&nbsp;✚</a>
    {% if object_list %}
    <table class="listados">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        {% for r in object_list %}
        <tr>
          <td>
            <a href="{% url 'detalle pedido' r.id %}">{{ r.id_cliente}}</a>
          </td>
          <td>{{ r.fecha}}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
    {% else %}
    <p>No hay pedidos creados.</p>
    {% endif %}
  </div>
</div>

{% endblock %}
