{% extends "base.html" %} {% block titulo %} Detalle Pedido
{%endblock %} 
{% block contenido %}
  <h1>Detalle de pedido</h1>
  <ul>
    <li>
      Cliente:<a href="{% url 'detalle cliente' pedido.id_cliente.pk %}">
      {{ pedido.id_cliente }}
  </a>
    </li> 
  <li>Fecha: {{ pedido.fecha }}</li>
  <li>Precio: {{ pedido.precio }}</li>
  </ul>
  <h2>Productos:</h2>
  <table class="paleBlueRows">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
     {% for cantidad in pedido.cantidad_set.all %}
      <tr>
        <td>
          <a href="{% url 'detalle producto' cantidad.id_producto.pk %}">
            {{ cantidad.id_producto.nombre }}
          </a>
        </td>
        <td>{{ cantidad.n_producto }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td>Precio total</td>
        <td>{{pedido.precio}}€</td>
      </tr>
    </tfoot>
  </table>


</div>

{% endblock %}