{% extends "detalle.html" %}

{% block titulo %} Pedido| {{ pedido.id_cliente.nombre}}{% endblock %}

{% block elemListado %}

pedidos {% endblock %}

{% block urlElemento %}

<a href="{% url 'detalle pedido' p.pk %}">
  <li>{{ p.id_cliente }} - {{ p.fecha }}</li>
</a>
{% endblock %} {% block detalle %}

<div class="tituloProducto">
  Detalle del pedido
  <div class="barraBtn">
    <a href="/appProyecto/pedidos/{{pedido.id}}/delete/" class="button">
      Borrar</a>
    <a href="/appProyecto/pedidos/{{pedido.id}}/update/" class="button">
      Actualizar</a>
  </div>
</div>

<div class="datosProducto">
  <div class="propiedadProducto">
    <div class="tituloPropiedad">Cliente:</div>
    {{ pedido.id_cliente.nombre}}
  </div>
  <div class="propiedadProducto">
    <div class="tituloPropiedad">Fecha:</div>
    {{ pedido.fecha}}
  </div>
  {% if cantidades %}
  <div class="contenedorComponentes">
    <div class="elementoComponente">
      <h2>Productos:</h2>
    <table class="blueTable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Nº</th>
            <th colspan="2">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for cantidad in cantidades %}
          <tr>
            <td>
              <a href="{% url 'detalle producto' cantidad.id_producto.pk %}">
                {{ cantidad.id_producto.nombre }}
              </a>
            </td>
            <td>{{ cantidad.n_producto }}</td>
            <td>
              <a href="{% url 'borrar cantidad' cantidad.pk %}" class="buttonBorrar"> ✖</a>
            </td>
            <td>
              <a class="buttonAccion" href="{% url 'actualizar cantidad' cantidad.pk %}">
                 ✐
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">Precio total</td>
            <td colspan="2">{{precioTotal}}€</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="elementoComponente">
      <h2>Agregar productos:</h2>
      <form class="cuadroFormularios" method="post">
        {% csrf_token %} {{ form.errors }} {{ form.as_p }}
        <p id="informacionCantidad"></p>
        <button type="submit">Agregar</button>
      </form>
    </div>
  </div>
</div>
{% else %}
<div class="tituloPropiedad"> NO EXISTE NINGUN PRODUCTO EN ESTE PEDIDO</div>
{% endif %} {% endblock %}