{% extends "base.html" %} {% block titulo %}Listado de pedidos{% endblock %}
{%block contenido %}
<div id="content">
  <h1>Gestor de pedidos</h1>
  <h2>Listado de pedidos</h2>
  <a href="{%url 'crear pedido'%}" class="button">Pedido&nbsp;✚</a>
  <a href="{%url 'crear cantidad'%}" class="button"> Producto&nbsp;✚ </a>
  {% if object_list %}
  <table class="listados">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      {% for r in object_list %}
      <tr>
        <td>
          <a href="{% url 'detalle pedido' r.id %}">{{ r.id_cliente}}</a>
        </td>
        <td>{{ r.fecha}}</td>
        <td>{{ r.precio}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No hay productos creados.</p>
  {% endif %}
</div>
{% endblock %}
