{% extends "detalle.html" %}

{% block titulo %} Producto| {{ producto.nombre}}

{% endblock %}
{% block elemListado %}

productos {% endblock %}

{% block urlElemento %}

<a href="{% url 'detalle producto' p.pk %}">
  <li>{{ p.nombre }}</li>
</a>
{% endblock %} {% block detalle %} {% if producto %}
<div class="tituloProducto">
  Detalle del Producto
  <div class="barraBtn">
    <a href="/appProyecto/productos/{{producto.id}}/delete/" class="button">
      Borrar</a>
    <a href="/appProyecto/productos/{{producto.id}}/update/" class="button">
      Actualizar</a>
  </div>
</div>

<div class="datosProducto">
  <div class="propiedadProducto">
    <div class="tituloPropiedad">Nombre:</div>
    {{ producto.nombre}}
  </div>
  <div class="propiedadProducto">
    <div class="tituloPropiedad">Precio:</div>
    {{ producto.precio}} €
  </div>
  <div class="propiedadProducto">
    <div class="tituloPropiedad">Categoria:</div>
    {{ producto.categoria}}
  </div>
  <div class="propiedadProducto">
    <div class="tituloPropiedad">Descripcion:</div>
    {{ producto.descripcion}}
  </div>

  <div class="contenedorComponentes">
    <div class="elementoComponente">
      <h2>Componentes:</h2>
    <table class="blueTable">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Cantidad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for elemento in elementos %}
      
          <tr>
            <td>
              <a href="{% url 'detalle componentes' elemento.id_componente.pk %}">
                {{ elemento.id_componente.nombre }}
              </a>
            </td>
            <td>{{ elemento.id_componente.marca }}</td>
            <td>{{ elemento.cantidad }}</td>
            <td>
              <form class="botones" action="{% url 'borrar elemento' elemento.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="button">Borrar</button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="elementoComponente">
      <h2>Agregar Componente:</h2>
      <form class="cuadroFormularios" method="post">
        {% csrf_token %} {{ form.errors }} {{ form.as_p }}
        <button type="submit">Agregar</button>
      </form>
    </div>
  </div>
</div>

{% else %}
<p>No existe este producto.</p>
{% endif %} {% endblock %}