{% extends "base.html" %} 
{% load static %}
{% block titulo %}Listado de productos{% endblock %}

{% block contenido %}
<div class="content">
  <h2>Listado de productos</h2>
  <div class="tablasList"><a href="{%url 'crear producto'%}" class="button">Producto✚</a>
    {% if object_list %}
  <table class="blueTable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Categoria</th>
          <th>Precio</th>
          <th colspan="2">Acciones</th>
          <th>Mas info</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in object_list %}
        <tr id="{{producto.id}}">
          <td>
            <a href="{% url 'detalle producto' producto.id %}">
              {{producto.nombre}}</a>
          </td>
          <td>            <a href="{% url 'detalle categoria' producto.categoria.id %}">
            {{producto.categoria}}</a></td>          
            <td>{{producto.precio}}€</td>
            <td>
              <a href="/appProyecto/productos/{{producto.id}}/delete/" class="buttonBorrar">✖</a
              >
            </td>
            <td>
              <a href="/appProyecto/productos/{{producto.id}}/update/" class="buttonAccion">✐</a
              >
            </td>
            <td>
              <a class="buttonAccion btnMasInfo">✚</a
              >
              <a class="buttonAccion btnMenosInfo" style="display: none;">✖</a>
            <p id="{{producto.id}}" class="complete" style="display: none;">
          {{producto.descripcion}}
        </p></td>

        </tr>
        
        {% endfor %}
      </tbody>
      {% if page_obj.paginator.num_pages > 1  %}
      <tfoot>
        <tr>
          <td colspan="6">
            <div class="links">
             {% if page_obj.has_previous %}
              <a href="?page=1"> inicio</a>
              <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
              {% endif %}
              {% for i in page_obj.paginator.page_range %}
              {% if i == page_obj.number %}
              ...
              {% else %}
                      <a href="?page={{ i }}">{{ i }}</a>
              {% endif %}
              
             {% endfor %}
              {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">final</a>
        {% endif %}
            </div>
          </td>
        </tr>
      </tfoot>
      {% endif %}
        </table>
    {% else %}
    <div class="tituloPropiedad"> NO EXISTE NINGUN PRODUCTO</div> 
    {% endif %}
  </div </div>
  </div>  <div id="cuadroInformacion" disable = "true"></div>
  
  <script src="{% static 'js/masInfo.js' %}"></script>
 {% endblock %}