{% extends "base.html" %} {% block titulo %} Producto| {{ producto.nombre}}
{%endblock %} {% block contenido %}
<h1>Detalle del Producto</h1>
<div class="descripcion">
  {% if producto %}
  <h2>{{ producto.nombre}} - {{ producto.precio}}€</h2>

  <h2>Componentes:</h2>
  <table class="listados">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      {% for elemento in elementos %}
      <tr>
        <td>
          <a href="{% url 'detalle componentes' elemento.id_componente.pk %}">
            {{ elemento.id_componente.nombre }}
          </a>
        </td>
        <td>{{ elemento.id_componente.marca }}</td>
        <td>{{ elemento.cantidad }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}
  <p>No existe este producto.</p>
  {% endif %}
</div>

{% endblock %}
