<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %}{% endblock %}</title>
  </head>
  <body>
    <div id="content">
        <h1>Gestión de pedidos</h1>
          <header class="cabeceraflex">
             <a href="" class="logocabecera">
                 <img src="imagenes/logo completo.png" />
             </a>
             <section class="section-header-flex">
                <h1>
                  Deustronic Components S.L.
                </h1>
             </section>
             <nav class="menu">
                 <ul>
                     <ul>
                         <li>
                             <a href=/appProyecto>INICIO</a>
                         </li>
                     </ul>
                 </ul>
             </nav>
         </header>
      {% block contenido %}{% endblock %}
    </div>
  </body>
</html>
