{% extends "base.html" %} {% block titulo %} Deustronic
Components|Inicio{%endblock %} {% block contenido %}
<div class="content">
  <h1>Datos del proyecto</h1>
  <div class="cajaEnlace">
    <a
      class="enlace"
      href="https://github.com/vipeclaudia103/Proyecto_IW"
      target="_blank"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
        style="height: 1.2em"
        alt="Respositorio gitHub"
      />
      Respositorio gitHub
    </a>
  </div>
</div>
{% endblock %}
