{% extends "base.html" %} 
{% block titulo %} Deustronic
Components|Inicio{%endblock %} {% block contenido %}
<div id="content">
  <h1>Menu</h1>
  <h2><a href="producto/"> Producto</a></h2>
  <table>
    <thead>
      <tr>
        <th colspan="2">
          <img
            class="logosEmpresas"
            src="Imagenes/empresaAero.jpg"
            alt="logo empresa aviones"
          />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nombre</td>
        <td>Mave</td>
      </tr>
      <tr>
        <td>Sector</td>
        <td>Aeronautica</td>
      </tr>
      <tr>
        <td>N Proyectos</td>
        <td>233</td>
      </tr>
      <tr>
        <td>Saticfacción</td>
        <td>4.5/5</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
