header,
main,
footer {
  margin: 1em auto;
}
body {
  background-image: url(https://e1.pxfuel.com/desktop-wallpaper/586/170/desktop-wallpaper-blue-honeycomb-honeycomb.jpg);
}
/* PALETA DE COLORES
  -p-azul-muy-oscuro:  #242c32 ;
  -p-azul-oscuro: #123655;
  -p-azul-medio: #1a5f79;
  -p-azul-claro: #7d9fb6;
  -p-azul-muy-claro: #cce1e8; */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: fit-content;
  background-color: #1e242c;
  align-items: center;
  padding: 4px;
}
.cabecera {
  display: flex;
  align-items: center;
  align-content: center;
  color: #cce1e8;
  flex-grow: 2;
}

nav {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  flex-wrap: wrap;
  padding: 9px;
  margin: 1em;
  justify-content: space-between;
  flex-grow: 1;
}
main {
  padding: 20px;
  background-color: #e3f1f5;
  border: 1em dashed #242c32;
}
.enlace {
  background-color: #fff;
  padding: 10px;
  margin: 0.2em;
  color: #242c32;
  border-radius: 0.8em;
}
h3,
h4,
.iconosRedes,
a.cabecera,
a.flexFila,
a.enlacesClaros {
  color: #cce1e8;
}
.iconosRedes,
ul.linksFooter,
a {
  text-decoration: none;
  list-style: none;
  padding: 5px;
}
.LinkIiconosRedes:hover,
.enlace:hover {
  background-color: #d0d1d2;
  color: #42444c;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flexFila,
footer,
.cuadroInfContacto {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
footer {
  padding: 1em;
  color: white;
  background-color: #1e242c;
  justify-content: space-evenly;
  align-content: center;
}
h3,
h4 {
  margin: 0em;
  width: fit-content;
}
.descripcion {
  font-size: 16px;
  line-height: 30px;
  padding: 6px;
  background-color: #d7d7d7;
  font-family: "Gill Sans";
}
.listadoDetalles {
  background-color: white;
  padding: 10px;
  border: 1px solid #0e0e0e;
}
#logoCompleto {
  flex-wrap: wrap-reverse;
  max-height: 150px;
}
h2 {
  padding: 0.5em;
  margin-bottom: 0.5cm;
  border-bottom: 6px double darkslategrey;
  width: fit-content;
}
form,
table.listados {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  width: 80%;
  text-align: left;
  border-collapse: collapse;
  margin: 1em auto;
  padding: 2em;
}
table.listados td,
table.listados th {
  border: 1px solid #aaaaaa;
  padding: 3px 2px;
}
table.listados tbody td {
  font-size: 13px;
}
table.listados tr:nth-child(even) {
  background: #d0e4f5;
}
table.listados thead {
  background: #1c6ea4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  background: -webkit-linear-gradient(
    top,
    #5592bb 0%,
    #327cad 66%,
    #1c6ea4 100%
  );
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  border-bottom: 2px solid #444444;
}
table.listados thead th {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #d0e4f5;
}
table.listados thead th:first-child {
  border-left: none;
}

table.listados tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #d0e4f5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  background: -webkit-linear-gradient(
    top,
    #dcebf7 0%,
    #d4e6f6 66%,
    #d0e4f5 100%
  );
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  border-top: 2px solid #444444;
}
table.listados tfoot td {
  font-size: 14px;
}
table.listados tfoot .links {
  text-align: right;
}
table.listados tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}
table.listados tbody tr:hover {
  background-color: #eed189;
  color: #204956;
}
table.paleBlueRows {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #ffffff;
  width: 350px;
  text-align: center;
  border-collapse: collapse;
}
table.paleBlueRows td,
table.paleBlueRows th {
  border: 0px solid #ffffff;
  padding: 5px 8px;
}
table.paleBlueRows tbody td {
  font-size: 11px;
}
table.paleBlueRows tr:nth-child(even) {
  background: #d0e4f5;
}
table.paleBlueRows thead {
  background: #183d6d;
  background: -moz-linear-gradient(top, #526d91 0%, #2f507b 66%, #183d6d 100%);
  background: -webkit-linear-gradient(
    top,
    #526d91 0%,
    #2f507b 66%,
    #183d6d 100%
  );
  background: linear-gradient(to bottom, #526d91 0%, #2f507b 66%, #183d6d 100%);
}
table.paleBlueRows thead th {
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-left: 2px solid #ffffff;
}
table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #183d6d;
  background: -moz-linear-gradient(top, #526d91 0%, #2f507b 66%, #183d6d 100%);
  background: -webkit-linear-gradient(
    top,
    #526d91 0%,
    #2f507b 66%,
    #183d6d 100%
  );
  background: linear-gradient(to bottom, #526d91 0%, #2f507b 66%, #183d6d 100%);
}
table.paleBlueRows tfoot td {
  font-size: 14px;
}
.barraBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap-reverse;
  place-content: end;
  float: right;
}
.button {
  float: right;
  margin: 1em;
  text-decoration: none;
  text-align: center;
  place-self: end;
  padding: 8px;
  border: solid 2px #596266;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font: 13px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #3ba4c7;
  background-image: -moz-linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  background-image: -webkit-linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  background-image: -o-linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  background-image: -ms-linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a6b80', endColorstr='#2a6b80',GradientType=0 );
  background-image: linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  -webkit-box-shadow: 6px 2px 4px#d5b88f;
  -moz-box-shadow: 6px 2px 4px#d5b88f;
  box-shadow: 6px 2px 4px#d5b88f;
}
.button:hover {
  border: solid 2px #d4a56c;
  color: #1a5a82;
  background-color: #e6c191;
  background-image: -moz-linear-gradient(top, #e6c191 0%, #ffeda6 100%);
  background-image: -webkit-linear-gradient(top, #e6c191 0%, #ffeda6 100%);
  background-image: -o-linear-gradient(top, #e6c191 0%, #ffeda6 100%);
  background-image: -ms-linear-gradient(top, #e6c191 0%, #ffeda6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeda6', endColorstr='#ffeda6',GradientType=0 );
  background-image: linear-gradient(top, #e6c191 0%, #ffeda6 100%);
  -webkit-box-shadow: 10px 11px 20px #4f71a8;
  -moz-box-shadow: 10px 11px 20px #4f71a8;
  box-shadow: 10px 11px 20px #4f71a8;
}
.button:active {
  border: solid 2px #596266;
  color: #002ae3;
  background-color: #d68efa;
  background-image: -moz-linear-gradient(top, #d68efa 0%, #c0b2ff 100%);
  background-image: -webkit-linear-gradient(top, #d68efa 0%, #c0b2ff 100%);
  background-image: -o-linear-gradient(top, #d68efa 0%, #c0b2ff 100%);
  background-image: -ms-linear-gradient(top, #d68efa 0%, #c0b2ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0b2ff', endColorstr='#c0b2ff',GradientType=0 );
  background-image: linear-gradient(top, #d68efa 0%, #c0b2ff 100%);
  -webkit-box-shadow: 6px 2px 4px#cfa2de;
  -moz-box-shadow: 6px 2px 4px#cfa2de;
  box-shadow: 6px 2px 4px#cfa2de;
}









.contenedorPrincipal {
  display: flex;
  flex-direction: row;
}
.navegadorProductos {
  background-color: #d7d7d7;
  width: 500px;
  margin-right: 30px;
}
.listaProductos {
  margin: 20px;
}
.listaProductos ul {
  list-style: none;
  padding: 0;
}
.listaProductos li {
  cursor: pointer;
  padding: 15px;
  background-color: #fff;
  border: 2px solid #ddd;
  margin-bottom: 10px;
}
.listaProductos li:hover {
  background-color: #f9f9f9;
}

.descripcionProducto {
  background-color: #d7d7d7;
  width: 100%;
}
.tituloProducto, .tituloNavegadorProductos {
  font-size: 30px;
  background-color: black;
  color: #ffffff;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 50px;
}
.datosProducto {
  margin: 30px;
}
.propiedadProducto {
  background-color: white;
  display: flex;
  align-items: flex-end;
  padding: 15px;
  margin-bottom: 10px;
}
.tituloPropiedad {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.contenedorComponentes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.elementoCompoenente {
  margin: 30px;
}