header,
footer {
  margin: 1em auto;
}

body {
  background-color: #1e242c;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #242c32;
}

/* PALETA DE COLORES
  -p-azul-muy-oscuro:  #242c32 ;
  -p-azul-oscuro: #123655;
  -p-azul-medio: #1a5f79;
  -p-azul-claro: #7d9fb6;
  -p-azul-muy-claro: #cce1e8; */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: min-content;
  align-items: center;
  padding: 4px;
  max-height: max-content;
  margin-bottom: 1em;
}

.cabecera {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  color: #cce1e8;
  flex-grow: 2;
}

.lista,
.enlace,
.cabecera,
.content,
.descripcion,
.listaProductos li {
  border-radius: 0.9em;
}
.cajaEnlace,
nav {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  flex-wrap: wrap;
  padding: 9px;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 1.3em;
}

main {
  margin: 0.8em 3em;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  padding: 10px;
  background-color: #e3f1f5;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.listaProductos ul li {
  background-color: #fff;
  padding: 10px;
  margin: 0.1em;
  color: #242c32;
  border: 1px solid #88bdca;
}

.listaProductos ul li:hover {
  background-color: #123655;
  color: #cce1e8;
  border-color: #123655;
}

.enlace {
  background-color: #fff;
  padding: 10px;
  margin: 0.2em;
  color: #242c32;
  border: 2px solid #242c32;
  margin: 0px 1em;
}

h3,
h4,
.iconosRedes,
a.cabecera,
a.flexFila,
a.enlacesClaros {
  color: #cce1e8;
}

.iconosRedes,
ul.linksFooter,
a {
  text-decoration: none;
  list-style: none;
  padding: 5px;
}

.LinkIiconosRedes:hover,
.enlace:hover {
  background-color: #242c32;
  color: #cce1e8;
  border: 2px solid #cce1e8;
  box-shadow: -2px 2px 5px #cce1e8;
}

.flexFila,
footer,
.cuadroInfContacto {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

footer {
  padding: 1em;
  color: white;
  justify-content: space-evenly;
  align-content: center;
}

.lista,
.lista ul {
  color: #123655;
  background-color: #d7d7d7;
  font-size: 12px;
  padding: 8px;
  list-style: circle;
  margin: 0.9em;
  line-height: 25px;
}

h3,
h4 {
  margin: 0em;
  width: fit-content;
}

.descripcion {
  font-size: 15px;
  line-height: 25px;
  padding: 6px;
  background-color: #d7d7d7;
}

.listadoDetalles {
  background-color: white;
  padding: 10px;
  border: 1px solid #0e0e0e;
}

#logoCompleto {
  flex-wrap: wrap-reverse;
  max-height: 150px;
}

h2 {
  padding: 0.5em;
  min-width: min-content;
  margin: 0.5em;
  max-width: max-content;
  border-bottom: 6px double darkslategrey;
}

form.cuadroFormularios,
table.paleBlueRows,
table.listados {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  /* min-width: min-content; */
  text-align: left;
  border-collapse: collapse;
  margin: 1em auto;
  padding: 1.5em;
  border-radius: 0.5em;
}

form select:hover,
form input:hover {
  background-color: #dbeff7;
  border-radius: 5px;
}

table.listados td,
table.listados th,
table.paleBlueRows td,
table.paleBlueRows th {
  padding: 4px;
  min-width: min-content;
}

table.listados tbody td {
  font-size: 14px;
}

table.listados tr:nth-child(even) {
  background: #d0e4f5;
}

table.listados thead {
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  border-bottom: 2px solid #444444;
}

table.listados thead th {
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #d0e4f5;
  padding: 4px 10px;
}

table.listados thead th:first-child {
  border-left: none;
}

table.listados tbody tr:hover {
  background-color: #eed189;
  color: #204956;
}

table.paleBlueRows tbody td {
  font-size: 12px;
  text-align: center;
}

table.paleBlueRows tr:nth-child(even) {
  background: #d0e4f5;
}

table.paleBlueRows thead {
  background: linear-gradient(to bottom, #526d91 0%, #2f507b 66%, #183d6d 100%);
}

table.paleBlueRows thead th {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #ffffff;
  padding: 6px 8px;
}

table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  background: #183d6d;
  background: -moz-linear-gradient(top, #526d91 0%, #2f507b 66%, #183d6d 100%);
  background: -webkit-linear-gradient(
    top,
    #526d91 0%,
    #2f507b 66%,
    #183d6d 100%
  );
  background: linear-gradient(to bottom, #526d91 0%, #2f507b 66%, #183d6d 100%);
}

table.paleBlueRows tfoot td {
  font-size: 15px;
}

.barraBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap-reverse;
  place-content: end;
  float: right;
}

td.centrarBtnTabla {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
}

form button,
.button {
  margin: 0.2em;
  text-decoration: none;
  text-align: center;
  place-self: end;
  padding: 8px;
  border: solid 2px #596266;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #3ba4c7;
  background-image: -moz-linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  background-image: -webkit-linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  background-image: -o-linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  background-image: -ms-linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a6b80', endColorstr='#2a6b80', GradientType=0);
  background-image: linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  -webkit-box-shadow: 4px 2px 3px#d5b88f;
  -moz-box-shadow: 4px 2px 3px#d5b88f;
  box-shadow: 4px 2px 3px#d5b88f;
}

form button:hover,
.button:hover {
  border: solid 2px #d4a56c;
  color: #1a5a82;
  background-color: #e6c191;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-image: -moz-linear-gradient(top, #e6c191 0%, #d5b88f 100%);
  background-image: -webkit-linear-gradient(top, #e6c191 0%, #d5b88f 100%);
  background-image: -o-linear-gradient(top, #e6c191 0%, #d5b88f 100%);
  background-image: -ms-linear-gradient(top, #e6c191 0%, #d5b88f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5b88f', endColorstr='#d5b88f', GradientType=0);
  background-image: linear-gradient(top, #e6c191 0%, #d5b88f 100%);
  -webkit-box-shadow: 4px 2px 3px #2a6b80;
  -moz-box-shadow: 4px 2px 3px #2a6b80;
  box-shadow: 4px 2px 3px #2a6b80;
}

.bloque,
table,
.propiedadProducto,
h2 {
  border-radius: 1.5em;
}

.bloque {
  margin: 0.9em;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: min-content;
  min-height: min-content;
}

.contenedorPrincipal {
  display: flex;
  flex-wrap: unset;
  flex-direction: row;
  max-height: fit-content;
}

.navegadorProductos,
.descripcionProducto {
  background-color: #d7d7d7;
  margin: 0.8em;
  border-radius: 2em;
  max-width: max-content;
}

.listaProductos {
  margin: 20px;
}

.listaProductos ul {
  list-style: none;
  padding: 0;
}

.listaProductos li {
  cursor: pointer;
  padding: 15px;
  background-color: #fff;
  border: 2px solid #ddd;
  margin-bottom: 10px;
}

.listaProductos li:hover {
  background-color: #f9f9f9;
}

.tituloProducto,
.tituloNavegadorProductos {
  font-size: 30px;
  background-color: black;
  color: #ffffff;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  min-height: min-content;
}

.datosProducto {
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.columnaFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px;
  margin-bottom: 10px;
  min-width: min-content;
  max-width: -webkit-fill-available;
  flex-direction: column;
}
.propiedadProducto {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin-bottom: 10px;
  min-width: min-content;
  max-width: -webkit-fill-available;
}

.tituloPropiedad {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.tablasList {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elementoComponente {
  padding: 0.2em;
  margin: 0.3em;
}

.contenedorComponentes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
