body {
  background-color: #171f26;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #242c32;
  text-align: justify;
}
header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: min-content;
  align-items: center;
  padding: 4px;
  max-height: max-content;
  margin-bottom: 1em;
}
.contenidoMasInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 20em;
  text-align: justify;
  margin: 0.6em;
  padding: 15px;
  background-color: whitesmoke;
}
.cabecera {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  color: #cce1e8;
  flex-grow: 2;
}
.cuadroInformacion,
.contenidoMasInfo,
.cabecera img,
main,
#logoCompleto,
.lista,
.enlace,
.cabecera,
.content,
.descripcion,
.listaProductos li {
  border-radius: 0.9em;
}
.cajaEnlace,
nav {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  flex-wrap: wrap;
  padding: 9px;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 1.3em;
}
.cabecera img {
  margin-right: 4px;
}
main {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #1e242c;
}
.content {
  padding: 10px;
  background-color: #c0c8c5;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.listaProductos ul li {
  background-color: #fff;
  padding: 10px;
  margin: 0.1em;
  color: #242c32;
  border: 1px solid #88bdca;
}

.listaProductos ul li:hover {
  background-color: #123655;
  color: #cce1e8;
  border-color: #123655;
}

.enlace {
  background-color: #fff;
  padding: 10px;
  margin: 0.2em;
  color: #242c32;
  border: 2px solid #242c32;
  margin: 0px 1em;
}

h3,
h4,
.iconosRedes,
a.cabecera,
a.flexFila,
a.enlacesClaros {
  color: #cce1e8;
}

.iconosRedes,
ul.linksFooter,
a {
  text-decoration: none;
  list-style: none;
  padding: 5px;
}

.LinkIiconosRedes:hover,
.enlace:hover {
  background-color: #242c32;
  color: #cce1e8;
  border: 2px solid #cce1e8;
  box-shadow: -2px 2px 5px #cce1e8;
}

.flexFila,
footer,
.cuadroInfContacto {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  flex-wrap: wrap;
}

footer {
  padding: 1em;
  color: white;
  justify-content: space-evenly;
  align-content: center;
}

.lista,
.lista ul {
  color: #123655;
  background-color: #d7d7d7;
  font-size: 12px;
  padding: 8px;
  list-style: circle;
  margin: 0.9em;
  line-height: 25px;
}

h3,
h4 {
  margin: 0em;
  width: fit-content;
}

.descripcion {
  font-size: 15px;
  line-height: 25px;
  padding: 6px;
  background-color: #d7d7d7;
}

.listadoDetalles {
  background-color: white;
  padding: 10px;
  border: 1px solid #0e0e0e;
}

#logoCompleto {
  flex-wrap: wrap-reverse;
  max-height: 150px;
}

h2 {
  padding: 0.5em;
  min-width: min-content;
  margin: 0.5em;
  max-width: max-content;
  border-bottom: 6px double darkslategrey;
}

form.cuadroFormularios,
table.blueTable,
table.listados {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #1c6ea4;
  background-color: #eeeeee;
  /* min-width: min-content; */
  text-align: center;
  border-collapse: collapse;
  margin: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
}
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
form input .button {
  display: inline-block;
}
form p {
  margin: 0.2em;
  padding: 4px;
}
form select:hover,
form input:hover {
  background-color: #daf5ff;
  border-radius: 5px;
}

table.blueTable td,
table.blueTable th {
  padding: 4px;
  min-width: min-content;
}

table.blueTable thead th:first-child {
  border-left: none;
}
table.blueTable tbody tr:hover {
  background-color: #eed189;
  color: #204956;
}

tfoot tr td .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}

table.blueTable td,
table.blueTable th {
  border: 1px solid transparent;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #d0e4f5;
}
table.blueTable thead {
  background: #1c6ea4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1c6ea4 100%);
  background: -webkit-linear-gradient(
    top,
    #5592bb 0%,
    #327cad 66%,
    #1c6ea4 100%
  );
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  border-left: 2px solid #d0e4f5;
  padding: 4px 10px;
}

table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  height: 2.5em;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  background: #7d9fb6;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  background: -webkit-linear-gradient(
    top,
    #dcebf7 0%,
    #d4e6f6 66%,
    #d0e4f5 100%
  );
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #d0e4f5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 13px;
  color: #171f26;
}
table.blueTable tfoot .links {
  text-align: center;
}
.buttonAccion,
table.blueTable tfoot .links a {
  margin: 2px;
  text-decoration: none;
  text-align: center;
  place-self: end;
  padding: 3px;
  border: solid 2px#4272a5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font: 13px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #cef2f2;
  background-color: #547cf5;
  background-image: -moz-linear-gradient(top, #547cf5 0%, #0056cf 100%);
  background-image: -webkit-linear-gradient(top, #547cf5 0%, #0056cf 100%);
  background-image: -o-linear-gradient(top, #547cf5 0%, #0056cf 100%);
  background-image: -ms-linear-gradient(top, #547cf5 0%, #0056cf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0056cf', endColorstr='#0056cf',GradientType=0 );
  background-image: linear-gradient(top, #547cf5 0%, #0056cf 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa;
  -moz-box-shadow: 0px 0px 2px #bababa;
  box-shadow: 0px 0px 2px #bababa;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
.barraBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap-reverse;
  place-content: end;
  float: right;
}

td.centrarBtnTabla {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
}

form button,
.button {
  margin: 0.2em;
  text-decoration: none;
  text-align: center;
  place-self: end;
  padding: 8px;
  border: solid 2px #596266;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: #3ba4c7;
  background-image: -moz-linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  background-image: -webkit-linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  background-image: -o-linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  background-image: -ms-linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a6b80', endColorstr='#2a6b80', GradientType=0);
  background-image: linear-gradient(top, #3ba4c7 0%, #2a6b80 100%);
  -webkit-box-shadow: 4px 2px 3px#d5b88f;
  -moz-box-shadow: 4px 2px 3px#d5b88f;
  box-shadow: 4px 2px 3px#d5b88f;
}

form button:hover,
.button:hover {
  border: solid 2px #d4a56c;
  color: #1a5a82;
  background-color: #e6c191;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  background-image: -moz-linear-gradient(top, #e6c191 0%, #d5b88f 100%);
  background-image: -webkit-linear-gradient(top, #e6c191 0%, #d5b88f 100%);
  background-image: -o-linear-gradient(top, #e6c191 0%, #d5b88f 100%);
  background-image: -ms-linear-gradient(top, #e6c191 0%, #d5b88f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5b88f', endColorstr='#d5b88f', GradientType=0);
  background-image: linear-gradient(top, #e6c191 0%, #d5b88f 100%);
  -webkit-box-shadow: 4px 2px 3px #2a6b80;
  -moz-box-shadow: 4px 2px 3px #2a6b80;
  box-shadow: 4px 2px 3px #2a6b80;
}
.buttonBorrar {
  text-decoration: none;
  text-align: center;
  padding: 3px 2px;
  font: 15px Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: #ff0000;
  background: transparent;
  border: solid 1px red;
  border-radius: 5px;
}
.buttonBorrar:hover {
  color: #cce1e8;
  background-color: red;
  border: solid 1px #581427;
}

.buttonBorrar:active {
  color: #560072;
  background-color: olivedrab;
  border-color: #204956;
  border: solid 1px #204956;
}
/* PALETA DE COLORES
  -p-azul-muy-oscuro:  #242c32 ;
  -p-azul-oscuro: #123655;
  -p-azul-medio: #1a5f79;
  -p-azul-claro: #7d9fb6;
  -p-azul-muy-claro: #cce1e8; */

.buttonAccion:hover,
table.blueTable tfoot .links a:hover {
  border: solid 2px#171f26;
  color: #171f26;
  background-color: #bdd6f0;
  background-image: -moz-linear-gradient(top, #bdd6f0 0%, #7993ad 100%);
  background-image: -webkit-linear-gradient(top, #bdd6f0 0%, #7993ad 100%);
  background-image: -o-linear-gradient(top, #bdd6f0 0%, #7993ad 100%);
  background-image: -ms-linear-gradient(top, #bdd6f0 0%, #7993ad 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7993ad', endColorstr='#7993ad',GradientType=0 );
  background-image: linear-gradient(top, #bdd6f0 0%, #7993ad 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
.buttonAccion:active,
table.blueTable tfoot .links a:active {
  border-color: #560072;
  color: #792994;
  background-color: #aacf53;
  background-image: -moz-linear-gradient(top, #aacf53 0%, #6ec244 100%);
  background-image: -webkit-linear-gradient(top, #aacf53 0%, #6ec244 100%);
  background-image: -o-linear-gradient(top, #aacf53 0%, #6ec244 100%);
  background-image: -ms-linear-gradient(top, #aacf53 0%, #6ec244 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ec244', endColorstr='#6ec244',GradientType=0 );
  background-image: linear-gradient(top, #aacf53 0%, #6ec244 100%);
  -webkit-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  -moz-box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  box-shadow: 0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
.bloque,
table,
.propiedadProducto,
h2 {
  border-radius: 1.5em;
}

.bloque {
  margin: 0.9em;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: min-content;
  min-height: min-content;
}

.contenedorPrincipal {
  display: flex;
  flex-wrap: unset;
  flex-direction: row;
  max-height: fit-content;
}

.navegadorProductos,
.descripcionProducto {
  background-color: #d7d7d7;
  margin: 0.8em;
  border-radius: 2em;
  max-width: max-content;
}

.listaProductos {
  margin: 20px;
}

.listaProductos ul {
  list-style: none;
  padding: 0;
}

.listaProductos li {
  cursor: pointer;
  padding: 15px;
  background-color: #fff;
  border: 2px solid #ddd;
  margin-bottom: 10px;
}

.listaProductos li:hover {
  background-color: #f9f9f9;
}

.tituloProducto,
.tituloNavegadorProductos {
  font-size: 30px;
  background-color: black;
  color: #ffffff;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  min-height: min-content;
}

.datosProducto {
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.columnaFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px;
  margin-bottom: 10px;
  min-width: min-content;
  max-width: -webkit-fill-available;
  flex-direction: column;
}
.propiedadProducto {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin-bottom: 10px;
  min-width: min-content;
  max-width: -webkit-fill-available;
}

.tituloPropiedad {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.tablasList {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.elementoComponente {
  padding: 0.2em;
  margin: 0.3em;
}

.contenedorComponentes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
form,
#cuadroInformacion {
  max-width: 20em;
}
#cuadroInformacion {
  display: inherit;
}
.formularioContacto {
  background-color: lightgray;
  padding: 30px;
  border-radius: 20px;
  width: min-content;
  margin: auto;
}

.formularioContacto div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.formularioContacto label {
  margin-right: 30px;
  width: 50%;
}

.errorCantidad {
  width: 300px;
  height: 30px;
  background-color: red;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  border: solid 2px black;
  border-radius: 10px;
  font-size: small;
}

.accionCliente {
  background-color: lightgray;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
  display: none;
}
.cuadroInformacion {
  background-color: lightgray;
  padding: 0.5em;
  width: max-content;
  height: fit-content;
}

.emailCliente div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  height: min-content;
}

.emailCliente label {
  margin-right: 30px;
  width: 30%;
}
